%div.hero-unit
  %h1 Witamy!
  %p Sytem do tworzenia ankiet i zbierania danych
  
  
-#  
  %h3 Ostatnio utworzone ankiety

  %ul
    - @questionnaires.each do |questionnaire|
      %li
        = link_to questionnaire.title, questionnaire_path(questionnaire)